In [1]:
import yfinance as yf

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import statsmodels.api as sm

In [5]:
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date

In [6]:
stock = 'fb'

cutoff=0.52
invest = 100
years_of_data_to_process = 25

In [7]:
currentDateTime = datetime.datetime.now()
date = currentDateTime.date()
year = date.strftime("%Y")
start_year =  int(year) - years_of_data_to_process
start = datetime.datetime(start_year, 1, 1)

In [8]:
data =  yf.download(stock, start=start)

[*********************100%***********************]  1 of 1 completed

In [9]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400
2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700
2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600
2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000
2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200
...,...,...,...,...,...,...
2021-06-02,330.380005,331.869995,327.119995,329.149994,329.149994,11654300
2021-06-03,325.779999,327.380005,323.480011,326.040009,326.040009,12610800
2021-06-04,325.899994,332.459991,325.179993,330.350006,330.350006,13282200
2021-06-07,329.480011,337.690002,328.929993,336.579987,336.579987,20124800
2021-06-08,336.700012,338.299896,332.239990,333.679993,333.679993,14367180

In [10]:
df = data["Close"].pct_change() * 100

In [11]:
df = df.rename("Today_Change_%")
df = df.reset_index()

In [12]:
df1 = pd.merge(data,df, on="Date")
#df1

In [13]:
df1.insert(7,'Volume_Lag', None)
df1['Volume_Lag'] = df1.Volume.shift(1).values/1000000000
df1.Volume = df1.Volume/1000000000

In [14]:
df1["Trend"] =  (df1["Close"] - df1["Low"])/ ((df1["High"] - df1["Low"]))

In [15]:
df1["Trend_Lag"] = df1["Trend"].shift(1)

In [16]:
df1['Close-Open'] =  df1['Close'] - df1['Open']
df1['Close-Open_Lag'] = df1['Close-Open'].shift(1)

In [17]:
df1['High-Low'] =  df1['High'] - df1['Low']
df1['High-Low_Lag'] = df1['High-Low'].shift(1)

In [18]:
df1 = sm.add_constant(df1)
df1["Up_Down"] = [1 if (i > 0) else 0 for i in df1["Today_Change_%"]]

In [19]:
df1.dropna(inplace= True)

In [20]:
df1['SMA20'] = df1['Close'].ewm(span=20, adjust=False).mean()
df1.dropna(inplace= True)
#df1

In [21]:
df1['SMA50'] = df1['Close'].ewm(span=50, adjust=False).mean()
df1.dropna(inplace= True)
#df1

In [22]:
df1['SMA20-SMA50'] = df1.SMA20 - df1.SMA50
df1['SMA20-SMA50_Lag'] = df1['SMA20-SMA50'].shift(1)
df1

,const,Date,Open,High,Low,Close,Adj Close,Volume,Volume_Lag,Today_Change_%,...,Trend_Lag,Close-Open,Close-Open_Lag,High-Low,High-Low_Lag,Up_Down,SMA20,SMA50,SMA20-SMA50,SMA20-SMA50_Lag
1,1.0,2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,0.168193,0.573576,-10.986139,...,0.032857,-2.500000,-3.820000,3.660000,7.000000,0,34.029999,34.029999,0.000000,NaN
2,1.0,2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,0.101787,0.168193,-8.903905,...,0.281420,-1.610001,-2.500000,2.650000,3.660000,0,33.741427,33.911175,-0.169748,0.000000
3,1.0,2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,0.073600,0.101787,3.225806,...,0.022641,0.629999,-1.610001,1.139999,2.650000,1,33.575577,33.836227,-0.260650,-0.169748
4,1.0,2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,0.050237,0.073600,3.218746,...,0.561403,0.079998,0.629999,1.439999,1.139999,1,33.523617,33.804610,-0.280993,-0.260650
5,1.0,2012-05-25,32.900002,32.950001,31.110001,31.910000,31.910000,0.037150,0.050237,-3.390854,...,0.875000,-0.990002,0.079998,1.840000,1.439999,0,33.369940,33.730312,-0.360372,-0.280993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2273,1.0,2021-06-02,330.380005,331.869995,327.119995,329.149994,329.149994,0.011654,0.011766,0.006073,...,0.520919,-1.230011,-1.019989,4.750000,4.779999,1,320.316770,308.887338,11.429432,11.326666
2274,1.0,2021-06-03,325.779999,327.380005,323.480011,326.040009,326.040009,0.012611,0.011654,-0.944854,...,0.427368,0.260010,-1.230011,3.899994,4.750000,0,320.861841,309.559992,11.301848,11.429432
2275,1.0,2021-06-04,325.899994,332.459991,325.179993,330.350006,330.350006,0.013282,0.012611,1.321923,...,0.656411,4.450012,0.260010,7.279999,3.899994,1,321.765475,310.375287,11.390189,11.301848
2276,1.0,2021-06-07,329.480011,337.690002,328.929993,336.579987,336.579987,0.020125,0.013282,1.885873,...,0.710167,7.099976,4.450012,8.760010,7.279999,1,323.176381,311.402922,11.773459,11.390189
2277,1.0,2021-06-08,336.700012,338.299896,332.239990,333.679993,333.679993,0.014367,0.020125,-0.861606,...,0.873286,-3.020020,7.099976,6.059906,8.760010,0,324.176725,312.276533,11.900192,11.773459

In [23]:
#crossovers = pd.DataFrame()
#crossovers['Dates'] = SMA20['Date']
#crossovers['Price'] = [i for i in df1.Close]
#crossovers['SMA20'] = SMA20['Close']
#crossovers['SMA50'] = SMA50['Close']
#crossovers

In [24]:
df1.dropna(inplace= True)
#df1

In [25]:
X = df1[['const','Trend_Lag','SMA20-SMA50_Lag','Close-Open_Lag','High-Low_Lag','Volume_Lag']]

In [26]:
y = df1["Up_Down"].values

In [27]:
model = sm.Logit(y,X)

In [28]:
result =  model.fit()

Optimization terminated successfully.
         Current function value: 0.689180
         Iterations 4

In [29]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                 2276
Model:                          Logit   Df Residuals:                     2270
Method:                           MLE   Df Model:                            5
Date:                Tue, 08 Jun 2021   Pseudo R-squ.:                0.003725
Time:                        17:14:07   Log-Likelihood:                -1568.6
converged:                       True   LL-Null:                       -1574.4
Covariance Type:            nonrobust   LLR p-value:                   0.03869
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.3822      0.127      3.000      0.003       0.133       0.632
Trend_Lag          -0.4337      0.186     -2.333      0.020      -0.798      -0.069
SMA20-SMA50_Lag    -0.0065      0.010     -0.671      0.502      -0.026       0.013
Close-Open_Lag     -0.0029      0.024     -0.122      0.903      -0.050       0.044
High-Low_Lag        0.0032      0.016      0.199      0.842      -0.028       0.034
Volume_Lag         -1.5837      1.652     -0.959      0.338      -4.821       1.654
===================================================================================
"""

In [30]:
prediction = result.predict(X)

In [31]:
df1['Prediction_Caculated'] = pd.array(prediction)
df1['Prediction_indicator'] = pd.array([1 if i > cutoff else 0 for i in prediction])
#df1.tail(10)

In [32]:
y = df1["Up_Down"].values

In [33]:
def confusion_matrix(act,pred):
    predtrans = ['Up' if i > cutoff else 'Down' for i in pred]
    actuals = ['Up' if i > 0 else 'Down' for i in act]
    confusion_matrix = pd.crosstab(pd.Series(actuals),
                                   pd.Series(predtrans),
                                   rownames = ["Actual"],
                                   colnames = ["Predict"]
                                  )
    return confusion_matrix

In [34]:
confusion_matrix(y,prediction)

Predict  Down   Up
Actual
Down      507  571
Up        508  690

In [35]:
z = confusion_matrix(y,prediction)
try:
    print((z.loc['Down','Down'] + z.loc['Up','Up']) / len(df1))
except:
    pass

0.5259226713532513

In [36]:
try:
    print( (z.loc['Down', 'Down']+ z.loc['Up','Up']) / (z.loc['Down', 'Down']+ z.loc['Up','Up'] + z.loc['Down','Up']) )
except:
    pass

0.6770361990950227

In [37]:
df1 = df1.assign(share=np.nan,money=np.nan)
#df1

In [38]:
diff_years = round((df1.iloc[-1,1] - df1.iloc[0,1])/np.timedelta64(1,'Y') + 0.5)

In [39]:
#Simulate Investment transaction buy on opening when predict UP and sell daily average when predict DOWN

def buy_sell(open_price, sell_price,prediction, money, share):
    if prediction == 1 and money != 0:
        share =  money / open_price
        money = 0
    elif prediction == 0 and share != 0:
        money = share * sell_price
        share = 0
    else: pass
    return [money, share]
money = invest
share = 0
for i in range(len(df1)):
    [money, share] = buy_sell(df1.iloc[i,2],(df1.iloc[i,3]+df1.iloc[i,4])/2,df1.iloc[i,22], money, share)
    df1.iloc[i,23] = share
    df1.iloc[i,24] = money

In [40]:
#df1

In [41]:
print("\nIf ${:,.2f} was invested in [ {} ], and Just Hold and Not Trade for {:,} years, the ROI = ${:,.2f}".format( invest, stock.upper(), diff_years, invest/data.iloc[0, 0] * data.iloc[-1,0]))

If $100.00 was invested in [ FB ], and Just Hold and Not Trade for 10 years, the ROI = $800.71

In [42]:
print ("\nIf ${:,.2f} was invested {:2d} years ago, buy and sell according this script\'s recommandation, the ROI = ${:,.2f}".format(invest, diff_years, (money + (share * df1.iloc[-1,6]))))

If $100.00 was invested 10 years ago, buy and sell according this script's recommandation, the ROI = $871.63

In [43]:
df1_summary=df1[['Date', 'Up_Down','Prediction_indicator']].copy()
df1_summary['Stock Market Performance'] = df1_summary['Up_Down'].apply(lambda x: 'Up' if x > 0 else 'Down')
df1_summary['Scribe Predection'] = df1_summary['Prediction_indicator'].apply(lambda x: 'Up' if x > 0 else 'Down')
print (df1_summary[['Date','Stock Market Performance','Scribe Predection']].tail(15))

           Date Stock Market Performance Scribe Predection
2263 2021-05-18                     Down              Down
2264 2021-05-19                       Up                Up
2265 2021-05-20                       Up              Down
2266 2021-05-21                     Down              Down
2267 2021-05-24                       Up                Up
2268 2021-05-25                       Up              Down
2269 2021-05-26                     Down              Down
2270 2021-05-27                       Up                Up
2271 2021-05-28                     Down              Down
2272 2021-06-01                       Up                Up
2273 2021-06-02                       Up                Up
2274 2021-06-03                     Down                Up
2275 2021-06-04                       Up              Down
2276 2021-06-07                       Up              Down
2277 2021-06-08                     Down              Down

In [44]:
#df1

In [45]:
#print(df1.iloc[:,[7,10,11,12,13,14,15,16,17,18,19,20,21,22]])

In [46]:
print ("\nToday [ %s ] actually went up," %stock.upper(), end = ' ') if (df1.iloc[-1,16] == 1) else print ("\nToday [ %s ] actually went down," %stock.upper(), end = " ")
print ("--- base on yesterday\'s data, ", end = '')
print ("We Predication [ %s ] should be going up." %stock.upper()) if (df1.iloc[-1,22] == 1) else print ("We Predicae [ %s ] should be going down." %stock.upper())
print ("\n=========> Actual and Predication MATCH <=========") if (df1.iloc[-1,16] == df1.iloc[-1,22]) else print("\n=========> Actual and Predication DO NOT match <=========")

Today [ FB ] actually went down, --- base on yesterday's data, We Predicae [ FB ] should be going down.

=========> Actual and Predication MATCH <=========

In [47]:
x_tran= df1[df1.Date.dt.year < 2021][['const','Trend_Lag','SMA20-SMA50_Lag','Close-Open_Lag','High-Low_Lag','Volume_Lag']]
y_train=df1[df1.Date.dt.year < 2021]["Up_Down"]
x_test= df1[df1.Date.dt.year >= 2021][['const','Trend_Lag','SMA20-SMA50_Lag','Close-Open_Lag','High-Low_Lag','Volume_Lag']]
y_test= df1[df1.Date.dt.year >= 2021]["Up_Down"]

In [48]:
model = sm.Logit(y_train,x_tran)
result=model.fit()

Optimization terminated successfully.
         Current function value: 0.689699
         Iterations 4

In [49]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                Up_Down   No. Observations:                 2168
Model:                          Logit   Df Residuals:                     2162
Method:                           MLE   Df Model:                            5
Date:                Tue, 08 Jun 2021   Pseudo R-squ.:                0.002843
Time:                        17:14:09   Log-Likelihood:                -1495.3
converged:                       True   LL-Null:                       -1499.5
Covariance Type:            nonrobust   LLR p-value:                    0.1295
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.3469      0.130      2.675      0.007       0.093       0.601
Trend_Lag          -0.4072      0.191     -2.135      0.033      -0.781      -0.033
SMA20-SMA50_Lag    -0.0032      0.010     -0.310      0.757      -0.023       0.017
Close-Open_Lag      0.0045      0.026      0.173      0.863      -0.047       0.056
High-Low_Lag        0.0097      0.018      0.553      0.580      -0.025       0.044
Volume_Lag         -1.5530      1.660     -0.936      0.349      -4.806       1.700
===================================================================================
"""

In [50]:
prediction = result.predict(x_test)
confusion_matrix(y_test, prediction)

Predict  Down  Up
Actual
Down       16  37
Up          9  46

In [51]:
z = confusion_matrix(y_test,prediction)

In [52]:
try:
    print ("\n=========> Prediction Accuracy Rate: %.4f <=========\n"  %((z.loc['Down','Down'] + z.loc['Up','Up']) / len(x_test)))
except:
    print ("\n=========> Predication effectiveness is not avairable <=========\n" )

=========> Prediction Accuracy Rate: 0.5741 <=========

In [53]:
prediction = result.predict(x_test)
now_up_down  = result.predict([1.0, df1.iloc[-1, 10], df1.iloc[-1, 19], df1.iloc[-1, 12], df1.iloc[-1, 14], df1.iloc[-1, 7]])
print ("\n=========> Current trend = %.4f,  " %now_up_down, end=' ')
print ("[ %s ] will go up! <=========" %stock.upper()) if now_up_down > cutoff else print ("[ %s ] will go down! <=========" %stock.upper())

=========> Current trend = 0.5585,   [ FB ] will go up! <=========

In [54]:
#df1.to_csv('fb.csv', index = False)